<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Sunrise Acupuncture</title>

    <!-- Bootstrap core CSS -->
    <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../css/business-casual.min.css" rel="stylesheet">

  </head>

  <body>
    <h1 class="site-heading text-center text-white d-none d-lg-block">
      <span class="site-heading-lower">Sunrise Acupuncture</span>
      <span class="site-heading-upper text-primary mb-3">Personalized-care specialist, treating one patient at a time</span>
      <div class="container" style = "display: flex; flex-direction: row; justify-content: space-around;">
        <div style="display: flex; ">
          <img class="img-fluid first" src="../img/phone-icon.png" style="padding-right:20px">
          <span style="font-family: sans-serif;color:white;font-size:1.2rem;position:relative;padding-right:10px;top:7px"><strong>Contact us</strong> <br>(978) 835-0305</span>
        </div>
        <div style="display: flex;">
          <img class="img-fluid first" src="../img/house-icon.png" style="padding-left: 10px;padding-right:20px">
          <span style="font-family: sans-serif;color:white;font-size:1.2rem"><strong>Where are we</strong><br>400 Trade Center, Suite 5900<br>Woburn, MA 01801</span>
        </div>
      </div>
    </h1>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
      <div class="container">
        <a class="navbar-brand text-uppercase text-expanded font-weight-bold d-lg-none" href="#">Start Bootstrap</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav mx-auto">
            <li class="nav-item px-lg-3">
              <a class="nav-link text-uppercase text-expanded" href="../index.html">Home</a>
            </li>
            <li class="nav-item px-lg-3">
              <a class="nav-link text-uppercase text-expanded" href="about.html">About Liên</a>
            </li>
            <li class="nav-item active px-lg-3">
              <a class="nav-link text-uppercase text-expanded" href="acupuncture.html">Acupuncture
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item px-lg-3">
              <a class="nav-link text-uppercase text-expanded" href="testimonials.html">Testimonials</a>
            <li class="nav-item px-lg-3">
              <a class="nav-link text-uppercase text-expanded" href="contact.html">Contact Us</a>
            </li>
            <li class="nav-item px-lg-3">
              <a class="nav-link text-uppercase text-expanded" href="conditionsTreated.html">Conditions Treated</a>
            </li>
            <li class="nav-item px-lg-3">
              <a class="nav-link text-uppercase text-expanded" href="newPatient.html">New Patient</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <section class="page-section cta">
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <div class="cta-inner text-center rounded">
              <h2 class="section-heading mb-5">
                <span class="section-heading-lower">Acupuncture With Liên</span>
              </h2>
              <p class="address mb-5">
                    The initial visit will start with giving Liên your health history form which can filled out before your session.
                    She will discuss with you your health goals, diagnose and treat you based on Traditional Chinese Medicine (TCM).
                    Liên has studied Chinese Herbology and may suggest herbs for you.
                    Non-insertive methods using magnets is available for patients who do not want needles <br><br>
                    An acupuncture session with Liên may also include:
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="page-section">
      <div class="container">
        <div class="product-item">
          <div class="product-item-title d-flex">
            <div class="bg-faded p-5 d-flex ml-auto rounded">
              <h2 class="section-heading mb-0">
                <span class="section-heading-lower">Auricular Acupuncture</span>
              </h2>
            </div>
          </div>
          <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="../img/auricular.jpg" alt="">
          <div class="product-item-description d-flex mr-auto">
            <div class="bg-faded p-5 rounded">
              <p class="mb-0">
                 Ear acupuncture is a method for treating a variety of conditions, including addictions and pain disorders.
                 The ear holds a microsystem of the body. Needles are placed on the external ear surface.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="page-section">
      <div class="container">
        <div class="product-item">
          <div class="product-item-title d-flex">
            <div class="bg-faded p-5 d-flex mr-auto rounded">
              <h2 class="section-heading mb-0">
                <span class="section-heading-lower">Electro-Acupuncture</span>
              </h2>
            </div>
          </div>
          <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="../img/products-02.jpg" alt="">
          <div class="product-item-description d-flex ml-auto">
            <div class="bg-faded p-5 rounded">
              <p class="mb-0">
                In the US, electroacupuncture has been studied for a variety of conditions, including neurological disorders and pain relief.
                It is done by attaching specific needles to a device that generates electric pulses using small clips.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="page-section">
      <div class="container">
        <div class="product-item">
          <div class="product-item-title d-flex">
            <div class="bg-faded p-5 d-flex ml-auto rounded">
              <h2 class="section-heading mb-0">
                <span class="section-heading-lower">Cupping Therapy</span>
              </h2>
            </div>
          </div>
          <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="../img/cupping.jpg" alt="">
          <div class="product-item-description d-flex mr-auto">
            <div class="bg-faded p-5 rounded">
              <p class="mb-0">
                By creating suction and negative pressure, cupping therapy is used to soften tight muscles, loosen adhesions, increase circulation,
                and drain excess fluids and toxins by opening lymphatic pathways.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="page-section">
      <div class="container">
        <div class="product-item">
          <div class="product-item-title d-flex">
            <div class="bg-faded p-5 d-flex mr-auto rounded">
              <h2 class="section-heading mb-0">
                <span class="section-heading-lower">Gua Sha</span>
              </h2>
            </div>
          </div>
          <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="../img/gua-sha.jpg" alt="">
          <div class="product-item-description d-flex ml-auto">
            <div class="bg-faded p-5 rounded">
              <p class="mb-0">
                Sometimes called scraping, Gua Sha is a healing technique that utilizes an instrument to press-stroke a lubricated area of the body in order to relieve muscle stiffness and pain.              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="page-section">
      <div class="container">
        <div class="product-item">
          <div class="product-item-title d-flex">
            <div class="bg-faded p-5 d-flex ml-auto rounded">
              <h2 class="section-heading mb-0">
                <span class="section-heading-lower">Moxibustion</span>
              </h2>
            </div>
          </div>
          <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="../img/moxibustion.jpg" alt="">
          <div class="product-item-description d-flex mr-auto">
            <div class="bg-faded p-5 rounded">
              <p class="mb-0">
                Moxibustion is the use of heat on acupuncture points to enhance the treatment.
                This is accomplished by the practitioner holding a moxa stick, a compressed dried leaves of the Mugwort herb, a couple of inches from an acupuncture point.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="page-section">
      <div class="container">
        <div class="product-item">
          <div class="product-item-title d-flex">
            <div class="bg-faded p-5 d-flex mr-auto rounded">
              <h2 class="section-heading mb-0">
                <span class="section-heading-lower">&nbsp; Tuina &nbsp; </span>
              </h2>
            </div>
          </div>
          <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="../img/tuina.jpg" alt="">
          <div class="product-item-description d-flex ml-auto">
            <div class="bg-faded p-5 rounded">
              <p class="mb-0">
                Tuina refers to TCM therapeutic massage and body work to address a wide variety of musculoskeletal problems.
                It includes acupressure, where the practitioner use finger pressure instead of needles to stimulate the acupuncture points.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <footer class="footer text-faded text-center py-5">
      <div class="container">
        <p class="m-0 small">Copyright &copy; Sunrise Acupuncture 2018</p>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="../vendor/jquery/jquery.min.js"></script>
    <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>

</html>
