<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Lien Zayhowski, Acupuncture, Woburn, MA. Adjunctive therapies: Auricular Acupuncture, 
     Electro-Acupuncture, Cuppping Therapy, Gua Sha, Moxibustion, Tuina.">
    <meta name="author" content="Liên Zayhowksi">
    <meta name="keywords" content="Sunrise Acupuncture, sunrise acupuncture, liên zayhowski, Liên Zayhowski, Acupuncture,
     acupucture, United States, united states, U.S., Massachusetts, MA, massachusetts, Lien zayhowski, lien zayhowski,
     acupuncturist, Acupuncturist, holistic, Holistic, health, Health, headache, Headache, Pain, pain, Lower Back, lower back,
     neck, Neck, orthopedic, Orthopedic, fibromyalgia, Fibromyalgia, Neuropathy, neuropathy, fertility, Fertility, Stress, stress,
     allergy, Allergy, Insomnia, insomnia, Woburn, woburn, Burlington, burlington, Peabody, peabody, Reading, reading, Danvers,
     danvers, Swampscott, swampscott, Lynnfield, lynnfield, lynn, Lynn, Saugus, saugus, Stoneham, stoneham, Wakefield, wakefield,
     Wilmington, wilmington, Lexington, lexington, Bedford, beford">

    <title>Sunrise Acupuncture Acupuncture Techniques</title>

    <!-- Bootstrap core CSS -->
    <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../css/business-casual.min.css" rel="stylesheet">

  </head>

  <body>
    <h1 class="site-heading text-center text-white d-none d-lg-block">
      <span class="site-heading-lower">Sunrise Acupuncture</span>
      <span class="site-heading-upper text-primary mb-3" style="padding-bottom:20px"><strong>Personalized-care specialist, treating one patient at a time</strong></span>
      <div class="container" style = "display: flex; flex-direction: row; justify-content: space-around;">
        <div style="display: flex; ">
          <a href="tel:+1-978-341-4890"><img class="img-fluid first" src="../img/phone-icon.png" style="padding-right:20px"></a>
          <span style="font-family: sans-serif;color:white;font-size:1.2rem;position:relative;padding-right:10px;top:7px"><strong>Contact us</strong> <br>(978) 341-4890</span>
        </div>
        <div style="display: flex;">
          <a href="https://www.google.com/maps?f=q&source=s_q&hl=en&geocode&q=tradecenter+128+woburn+ma&sll=42.498928,-71.161671&sspn=0.010442,0.01929&ie=UTF8&hq&hnear=TradeCenter+128&ll=42.500137,-71.161687&spn=0.010774,0.01929&t=h&z=16&iwloc=A"><img class="img-fluid first" src="../img/house-icon.png" style="padding-left: 10px;padding-right:20px"></a>
          <span style="font-family: sans-serif;color:white;font-size:1.2rem"><strong>Where are we</strong><br>400 Trade Center, Suite 5900<br>Woburn, MA 01801</span>
        </div>
      </div>
    </h1>


    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
      <div class="container">
        <a class="navbar-brand text-uppercase text-expanded font-weight-bold d-lg-none" href="../index.html">Sunrise Acupuncture</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav mx-auto">
            <li class="nav-item px-lg-3">
              <a class="nav-link text-uppercase text-expanded" style="font-size: 16px" href="../index.html">Home</a>
            </li>
            <li class="nav-item px-lg-3">
              <a class="nav-link text-uppercase text-expanded" style="font-size: 16px" href="about.html">About Liên</a>
            </li>
            <li class="nav-item active px-lg-3">
              <a class="nav-link text-uppercase text-expanded" style="font-size: 16px" href="acupuncture.html">Acupuncture
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item px-lg-3">
              <a class="nav-link text-uppercase text-expanded" style="font-size: 16px" href="conditionsTreated.html">Conditions Treated</a>
            </li>
            <li class="nav-item px-lg-3">
              <a class="nav-link text-uppercase text-expanded" style="font-size: 16px" href="testimonials.html">Testimonials</a>
            </li>
            <li class="nav-item px-lg-3">
              <a class="nav-link text-uppercase text-expanded" style="font-size: 16px" href="newPatient.html">New Patient</a>
            </li>
            <li class="nav-item px-lg-3">
              <a class="nav-link text-uppercase text-expanded" style="font-size: 16px" href="contact.html">Contact Us</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <section class="page-section cta" style=" margin-bottom: 0; overflow-wrap: break-word;">
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <div class="cta-inner text-center rounded">
              <h2 class="section-heading mb-5">
                <span id="acupunctureLien" class="section-heading-lower" style="font-size:48px;font-weight:bold">Acupuncture With Liên</span>
              </h2>
              <p class="address mb-5" style="font-size:18px;margin-bottom:0px">
                    The initial visit will start with giving Liên your health history form which can filled out before your session.
                    She will discuss with you your health goals, diagnose and treat you based on Traditional Chinese Medicine (TCM).
                    Liên has studied Chinese Herbology and may suggest herbs for you.
                    Non-insertive methods using magnets is available for patients who do not want needles <br><br>
                    With your acupuncture treatment, you may also receive the following adjunctive therapies:
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="page-section cta" style="background-color:transparent; margin-top:0;margin-bottom:0;padding-bottom: 0rem; overflow-wrap: break-word;">
      <div class="container">
        <div class="col-xl-6 ml-auto">
            <div class="cta-inner text-center rounded" style="padding:20px 0px 20px 0px;top:20px">
              <h2 class="section-heading mb-0">
                <span id="auricular" class="section-heading-lower" style="font-size:40px;">Auricular Acupuncture</span>
              </h2>
            </div>
          </div>
          <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="../img/auricular.jpg" style="width:250px;height:auto" alt="auricular acupuncture sunrise acupuncture">
          <div class="product-item-description d-flex mr-auto">
            <div class="bg-faded p-5 rounded">
              <p class="mb-0" style="font-size: 18px">
                 Ear acupuncture is a method for treating a variety of conditions, including addictions and pain disorders.
                 The ear holds a microsystem of the body. Needles are placed on the external ear surface.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="page-section cta" style="background-color:transparent; margin-top:0;margin-bottom:0;padding-bottom: 0rem; overflow-wrap: break-word;">
      <div class="container">
        <div class="col-xl-6 mr-auto">
            <div class="cta-inner text-center rounded" style="padding:20px 0px 20px 0px;top:20px">
              <h2 class="section-heading mb-0">
                <span id="electro" class="section-heading-lower" style="font-size:40px;">Electro-Acupuncture</span>
              </h2>
            </div>
          </div>
          <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="../img/electro-acupuncture.jpg" style="width:500px;height:auto" alt="electro-acupuncture sunrise acupuncture">
          <div class="product-item-description d-flex ml-auto">
            <div class="bg-faded p-5 rounded">
              <p class="mb-0" style="font-size: 18px">
                In the US, electroacupuncture has been studied for a variety of conditions, including neurological disorders and pain relief.
                It is done by attaching specific needles to a device that generates electric pulses using small clips.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="page-section cta" style="background-color:transparent; margin-top:0;margin-bottom:0;padding-bottom: 0rem; overflow-wrap: break-word;">
      <div class="container">
        <div class="col-xl-6 ml-auto">
            <div class="cta-inner text-center rounded" style="padding:20px 0px 20px 0px;top:20px">
              <h2 class="section-heading mb-0">
                <span id="cupping"class="section-heading-lower" style="font-size:40px;">Cupping Therapy</span>
              </h2>
            </div>
          </div>
          <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="../img/cupping.jpg" style="width:500px;height:auto" alt="cupping therapy sunrise acupuncture">
          <div class="product-item-description d-flex mr-auto">
            <div class="bg-faded p-5 rounded">
              <p class="mb-0" style="font-size: 18px">
                By creating suction and negative pressure, cupping therapy is used to soften tight muscles, loosen adhesions, increase circulation,
                and drain excess fluids and toxins by opening lymphatic pathways.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="page-section cta" style="background-color:transparent; margin-top:0;margin-bottom:0;padding-bottom: 0rem; overflow-wrap: break-word;">
      <div class="container">
        <div class="col-xl-6 mr-auto">
            <div class="cta-inner text-center rounded" style="padding:20px 0px 20px 0px;top:20px">
              <h2 class="section-heading mb-0">
                <span id="guaSha" class="section-heading-lower" style="font-size:40px;">Gua Sha</span>
              </h2>
            </div>
          </div>
          <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="../img/gua-sha.jpg" style="width:500px;height:auto" alt="gua sha sunrise acupuncture">
          <div class="product-item-description d-flex ml-auto">
            <div class="bg-faded p-5 rounded">
              <p class="mb-0" style="font-size: 18px">
                Sometimes called scraping, Gua Sha is a healing technique that utilizes an instrument to press-stroke a lubricated area of the body in order to relieve muscle stiffness and pain.              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="page-section cta" style="background-color:transparent; margin-top:0;margin-bottom:0;padding-bottom: 0rem; overflow-wrap: break-word;">
      <div class="container">
        <div class="col-xl-6 ml-auto">
            <div class="cta-inner text-center rounded" style="padding:20px 0px 20px 0px;top:20px">
              <h2 class="section-heading mb-0">
                <span id="moxi" class="section-heading-lower" style="font-size:40px;">Moxibustion</span>
              </h2>
            </div>
          </div>
          <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="../img/moxibustion.jpg" style="width:500px;height:auto" alt="moxibustion sunrise acupuncture">
          <div class="product-item-description d-flex mr-auto">
            <div class="bg-faded p-5 rounded">
              <p class="mb-0" style="font-size: 18px">
                Moxibustion is the use of heat on acupuncture points to enhance the treatment.
                This is accomplished by the practitioner holding a moxa stick, a compressed dried leaves of the Mugwort herb, a couple of inches from an acupuncture point.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="page-section cta" style="background-color:transparent; margin-top:0;margin-bottom:0;padding-bottom: 3rem;overflow-wrap: break-word;">
      <div class="container">
        <div class="col-xl-6 mr-auto">
            <div class="cta-inner text-center rounded" style="padding:20px 0px 20px 0px;top:20px">
              <h2 class="section-heading mb-0">
                <span id="tuina" class="section-heading-lower" style="font-size:40px;">&nbsp; Tuina &nbsp; </span>
              </h2>
            </div>
          </div>
          <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="../img/tuina.jpg" style="width:500px;height:auto" alt="tuina sunrise acupuncture">
          <div class="product-item-description d-flex ml-auto">
            <div class="bg-faded p-5 rounded">
              <p class="mb-0" style="font-size: 18px">
                Tuina refers to TCM therapeutic massage and body work to address a wide variety of musculoskeletal problems.
                It includes acupressure, where the practitioner use finger pressure instead of needles to stimulate the acupuncture points.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <footer class="footer text-faded text-center py-5">
      <div class="container">
        <a href="tel:+1-978-341-4890"><img class="img-fluid first" src="../img/phone-icon.png" style="padding-right:50px">
                <span class="sr-only">(current)</span>
        <a href="https://www.google.com/maps?f=q&source=s_q&hl=en&geocode&q=tradecenter+128+woburn+ma&sll=42.498928,-71.161671&sspn=0.010442,0.01929&ie=UTF8&hq&hnear=TradeCenter+128&ll=42.500137,-71.161687&spn=0.010774,0.01929&t=h&z=16&iwloc=A"><img class="img-fluid first" src="../img/house-icon.png">
        </a></p>
        <p class="m-0 small">Copyright &copy; Sunrise Acupuncture 2018</p>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="../vendor/jquery/jquery.min.js"></script>
    <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>

</html>
