<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    <meta name="description" content="Liên maximizes her patients’ well-being through: individualized treatment plans addressing physical,
     emotional, and mental needs; patient education to enhance healing; and personalized attention by treating one patient at a time.">
    <meta name="author" content="Liên Zayhowski">
    <meta name="keywords" content="Sunrise Acupuncture, sunrise acupuncture, liên zayhowski, Liên Zayhowski, Acupuncture,
     acupucture, United States, united states, U.S., Massachusetts, MA, massachusetts, Lien zayhowski, lien zayhowski,
     acupuncturist, Acupuncturist, holistic, Holistic, health, Health, headache, Headache, Pain, pain, Lower Back, lower back,
     neck, Neck, orthopedic, Orthopedic, fibromyalgia, Fibromyalgia, Neuropathy, neuropathy, fertility, Fertility, Stress, stress,
     allergy, Allergy, Insomnia, insomnia, Woburn, woburn, Burlington, burlington, Peabody, peabody, Reading, reading, Danvers,
     danvers, Swampscott, swampscott, Lynnfield, lynnfield, lynn, Lynn, Saugus, saugus, Stoneham, stoneham, Wakefield, wakefield,
     Wilmington, wilmington, Lexington, lexington, Bedford, beford"

    <title>Sunrise Acupuncture Conditions Treated</title>

    <!-- Bootstrap core CSS -->
    <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../css/business-casual.min.css" rel="stylesheet">

  </head>

  <body>
    <h1 class="site-heading text-center text-white d-none d-lg-block">
      <span class="site-heading-lower">Sunrise Acupuncture</span>
      <span class="site-heading-upper text-primary mb-3" style="padding-bottom:20px"><strong>Personalized-care specialist, treating one patient at a time</strong></span>
      <div class="container" style = "display: flex; flex-direction: row; justify-content: space-around;">
        <div style="display: flex; ">
          <a href="tel:+1-978-341-4890"><img class="img-fluid first" src="../img/phone-icon.png" style="padding-right:20px"></a>
          <span style="font-family: sans-serif;color:white;font-size:1.2rem;position:relative;padding-right:10px;top:7px"><strong>Contact us</strong> <br>(978) 341-4890</span>
        </div>
        <div style="display: flex;">
          <a href="https://www.google.com/maps?f=q&source=s_q&hl=en&geocode&q=tradecenter+128+woburn+ma&sll=42.498928,-71.161671&sspn=0.010442,0.01929&ie=UTF8&hq&hnear=TradeCenter+128&ll=42.500137,-71.161687&spn=0.010774,0.01929&t=h&z=16&iwloc=A"><img class="img-fluid first" src="../img/house-icon.png" style="padding-left: 10px;padding-right:20px"></a>
          <span style="font-family: sans-serif;color:white;font-size:1.2rem"><strong>Where are we</strong><br>400 Trade Center, Suite 5900<br>Woburn, MA 01801</span>
        </div>
      </div>
    </h1>


    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
      <div class="container">
        <a class="navbar-brand text-uppercase text-expanded font-weight-bold d-lg-none" href="#">Sunrise Acupuncture</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav mx-auto">
            <li class="nav-item px-lg-3">
              <a class="nav-link text-uppercase text-expanded" style="font-size: 16px" href="../index.html">Home</a>
            </li>
            <li class="nav-item px-lg-3">
              <a class="nav-link text-uppercase text-expanded" style="font-size: 16px" href="about.html">About Liên</a>
            </li>
            <li class="nav-item px-lg-3">
              <a class="nav-link text-uppercase text-expanded" style="font-size: 16px" href="acupuncture.html">Acupuncture</a>
            </li>
            <li class="nav-item active px-lg-3">
              <a class="nav-link text-uppercase text-expanded" style="font-size: 16px" href="conditionsTreated.html">Conditions Treated
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item px-lg-3">
              <a class="nav-link text-uppercase text-expanded" style="font-size: 16px" href="testimonials.html">Testimonials</a>
            <li class="nav-item px-lg-3">
              <a class="nav-link text-uppercase text-expanded" style="font-size: 16px" href="newPatient.html">New Patient</a>
            </li>
            <li class="nav-item px-lg-3">
              <a class="nav-link text-uppercase text-expanded" style="font-size: 16px" href="contact.html">Contact Us</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

        <section class="page-section cta" style="overflow-wrap: break-word;">
          <div class="container">
            <div class="row">
              <div class="col-xl-9 mx-auto">
                <div class="cta-inner text-center rounded">
                  <h2 class="section-heading mb-5">
                    <span class="section-heading-lower">Conditions Treated</span>
                  </h2>
                  <p class="address mb-5">
                      <strong>The National Institute of Health (NIH) and World Health Organization (WHO) recognize Acupuncture as an effective treatment for the symptoms of:</strong><br>
                  </p>
                  <div class="container mb-5" style = "overflow-wrap: break-word;left:10%;width:690px; height:800px;display:absolute;">
                    <div style="width:300px;float:left; overflow-wrap: break-word">
                      <u style="font-size:18px">Pain</u><br>
                      Arthritis<br>
                      Carpal Tunnel Syndrome<br>
                      Joint Sprains/Strains<br>
                      Low Back<br>
                      Muscle Pain<br>
                      Neck & Shoudler<br>
                      Sciatica<br>
                      Tendonitis<br><br><br>

                      <u style="font-size:18px">Women's Health</u><br>
                      Fertility<br>
                      Menopausal Symptoms<br>
                      Menstrual Problems<br>
                      Morning Sickness<br>
                      PMS<br><br><br>

                      <u style="font-size:18px">Respiratory</u><br>
                      Asthma<br>
                      Bronchitis<br>
                      Common Colds<br>
                      Smoking Cessation<br>
                      Tonsillitis<br><br><br>

                      <u style="font-size:18px">Ear/Eye/Nose/Throat</u><br>
                      Allergies<br>
                      Eye Problems<br>
                      Sinusitis<br>
                      Tinnitus<br><br>
                  </div>
                  <div style="width:300px;float:right; overflow-wrap: break-word;">
                    <u style="font-size:18px">Digestive</u><br>
                    Abdominal Pain<br>
                    Acid Reflux<br>
                    Constipation/Diarrhea<br>
                    IBS<br>
                    Indigestion<br>
                    Nausea<br><br><br><br>

                    <u style="font-size:18px">Neurological</u><br>
                    Bell's Palsy<br>
                    Dizziness<br>
                    Headaches/Migraines<br>
                    Numbness<br>
                    Trigeminal Neuralgia<br><br><br><br>

                    <u style="font-size:18px">Emotional</u><br>
                    Anxiety<br>
                    Depression<br>
                    Stress Reduction<br>
                    Seasonal Afective Disorder (SAD)<br><br><br><br>

                    <u style="font-size:18px">Other</u><br>
                    Weight Control<br>
                    Fatigue<br>
                    Fibromyalgia<br>
                    Sleep Disturbances<br><br>
                </div>
              </div>
            </div>
          </div>
        </section>


        <footer class="footer text-faded text-center py-5">
          <div class="container">
            <p class="m-0 small">Copyright &copy; Sunrise Acupuncture 2018</p>
          </div>
        </footer>

        <!-- Bootstrap core JavaScript -->
        <script src="../vendor/jquery/jquery.min.js"></script>
        <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

      </body>

    </html>
