<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    <meta name="description" content="Liên maximizes her patients’ well-being through: individualized treatment plans addressing physical,
     emotional, and mental needs; patient education to enhance healing; and personalized attention by treating one patient at a time.">
    <meta name="author" content="Liên Zayhowski">
    <meta name="keywords" content="Sunrise Acupuncture, sunrise acupuncture, liên zayhowski, Liên Zayhowski, Acupuncture,
     acupucture, United States, united states, U.S., Massachusetts, MA, massachusetts, Lien zayhowski, lien zayhowski,
     acupuncturist, Acupuncturist, holistic, Holistic, health, Health, headache, Headache, Pain, pain, Lower Back, lower back,
     neck, Neck, orthopedic, Orthopedic, fibromyalgia, Fibromyalgia, Neuropathy, neuropathy, fertility, Fertility, Stress, stress,
     allergy, Allergy, Insomnia, insomnia, Woburn, woburn, Burlington, burlington, Peabody, peabody, Reading, reading, Danvers,
     danvers, Swampscott, swampscott, Lynnfield, lynnfield, lynn, Lynn, Saugus, saugus, Stoneham, stoneham, Wakefield, wakefield,
     Wilmington, wilmington, Lexington, lexington, Bedford, beford">

    <title>Sunrise Acupuncture New Patient</title>

    <!-- Bootstrap core CSS -->
    <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../css/business-casual.min.css" rel="stylesheet">

  </head>

  <body>
    <h1 class="site-heading text-center text-white d-none d-lg-block">
      <span class="site-heading-lower">Sunrise Acupuncture</span>
      <span class="site-heading-upper text-primary mb-3" style="padding-bottom:20px"><strong>Personalized-care specialist, treating one patient at a time</strong></span>
      <div class="container" style = "display: flex; flex-direction: row; justify-content: space-around;">
        <div style="display: flex; ">
          <a href="tel:+1-978-341-4890"><img class="img-fluid first" src="../img/phone-icon.png" style="padding-right:20px"></a>
          <span style="font-family: sans-serif;color:white;font-size:1.2rem;position:relative;padding-right:10px;top:7px"><strong>Contact us</strong> <br>(978) 341-4890</span>
        </div>
        <div style="display: flex;">
          <a href="https://www.google.com/maps?f=q&source=s_q&hl=en&geocode&q=tradecenter+128+woburn+ma&sll=42.498928,-71.161671&sspn=0.010442,0.01929&ie=UTF8&hq&hnear=TradeCenter+128&ll=42.500137,-71.161687&spn=0.010774,0.01929&t=h&z=16&iwloc=A"><img class="img-fluid first" src="../img/house-icon.png" style="padding-left: 10px;padding-right:20px"></a>
          <span style="font-family: sans-serif;color:white;font-size:1.2rem"><strong>Where are we</strong><br>400 Trade Center, Suite 5900<br>Woburn, MA 01801</span>
        </div>
      </div>
    </h1>


    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
      <div class="container">
        <a class="navbar-brand text-uppercase text-expanded font-weight-bold d-lg-none" href="#">Sunrise Acupuncture</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav mx-auto">
            <li class="nav-item px-lg-3">
              <a class="nav-link text-uppercase text-expanded" style="font-size: 16px" href="../index.html">Home</a>
            </li>
            <li class="nav-item px-lg-3">
              <a class="nav-link text-uppercase text-expanded" style="font-size: 16px" href="about.html">About Liên</a>
            </li>
            <li class="nav-item px-lg-3">
              <a class="nav-link text-uppercase text-expanded" style="font-size: 16px" href="acupuncture.html">Acupuncture</a>
            </li>
            <li class="nav-item px-lg-3">
              <a class="nav-link text-uppercase text-expanded" style="font-size: 16px" href="conditionsTreated.html">Conditions Treated</a>
            </li>
            <li class="nav-item px-lg-3">
              <a class="nav-link text-uppercase text-expanded" style="font-size: 16px" href="testimonials.html">Testimonials</a>
            <li class="nav-item active px-lg-3">
              <a class="nav-link text-uppercase text-expanded" style="font-size: 16px" href="newPatient.html">New Patient
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item px-lg-3">
              <a class="nav-link text-uppercase text-expanded" href="contact.html">Contact Us</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <section class="page-section cta" style="padding-top:0.5rem; overflow-wrap: break-word">
      <section class="page-section clearfix">
        <div class="container">
          <div class="intro">
            <div id="forNewPatient" class="left-0 text-center bg-faded p-5 rounded mx-auto" style="width:100%">
              <h2 class="section-heading mb-4">
                <span class="section-heading-lower" style="font-size:45px">For New Patients</span>
              </h2>
              <p class="mb-5" style="font-size:18px">Please download, complete, and bring the online form to our first session
              </p>
              <div class="intro-button mx-auto">
                <a class="btn btn-primary btn-xl" href="../files/acu_healthhistory.doc" download="Sunrise_Acupuncture_acu_healthhistory_form.doc" style="font-size:18px">Download Form</a>
              </div>
            </div>
          </div>
        </div>
      </section>
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <div class="cta-inner text-center rounded">
              <h2 class="section-heading mb-5">
                <span class="section-heading-lower" style="font-size:45px">Frequently Asked Questions</span>
              </h2>
              <p style="font-size:18px">
                <strong>Where is the office located?</strong><br>
                Sunrise Acupuncture is located in the Executive Suite 5914, on the 5th floor of 400 Trade Center
                (the 400 building of TradeCenter 128).<br><br>
                <strong>Is there parking?</strong><br>
                Yes, there is abundant garage and surface parking available. Parking is free.<br><br>
                <strong>Do acupuncture needles hurt?</strong><br>
                Usually not. Acupuncture needles are hair-thin and insertion techniques make it painless.
                The acupuncturist will work with you to make sure that your treatment is comfortable.<br><br>
                <strong>Are the needles sterile?</strong><br>
                Yes. They are disposed of after one use.<br><br>
                <strong>How should I prepare for a treatment?</strong><br>
                It is a good idea to have something to eat and drink an hour before your treatment.
                Bring or wear comfortable and loose fitting clothing so the area being treated is accessible.<br><br>
                <strong>What will I experience during a treatment?</strong><br>
                Some people don’t feel anything. Others feel sensations of tingling, warmth, heaviness, or a movement of energy along the meridian a point is on.
                These sensations indicate that qi is moving and the body is healing.<br><br>
                <strong>How many treatments will I need?</strong><br>
                Treatment frequency and number of treatments needed depend on a variety of factors including the severity and duration of the condition,
                your constitution, your diet and lifestyle.<br><br>
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="page-section clearfix">
      <div class="container">
        <div style="">
          <div class="left-0 text-center bg-faded p-5 rounded mx-auto" style="width:75%">
              <p style="font-size:18px" class="mb-2"><em>"My practice accepts insurance for acupuncture patients. In order to best serve you I can verify your insurance benefits before you arrive. Please click on the link below and complete the online form. I will contact you as soon as the benefits are established." - <strong>Liên</strong></em>
              <div class="intro-button mx-auto" style="margin-top:20px">
                <a class="btn btn-primary btn-xl" style="font-size:15px" href="https://holisticbillingservices.com/gfembed/?f=9&practice_name=Sunrise%20Acupuncture&practice_email=lienzay@gmail.com&practice_id=OO0">Verify <br> Your Insurance</a>
              </div>
            </div>
          </div>
        </div>
    </section>

    <footer class="footer text-faded text-center py-5">
      <div class="container">
        <p class="m-0 small">Copyright &copy; Sunrise Acupuncture 2018</p>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="../vendor/jquery/jquery.min.js"></script>
    <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>
</html>
