<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Sunrise Acupuncture</title>

    <!-- Bootstrap core CSS -->
    <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../css/business-casual.min.css" rel="stylesheet">

  </head>

  <body>
    <h1 class="site-heading text-center text-white d-none d-lg-block">
      <span class="site-heading-lower">Sunrise Acupuncture</span>
      <span class="site-heading-upper text-primary mb-3">Personalized-care specialist, treating one patient at a time</span>
      <div class="container" style = "display: flex; flex-direction: row; justify-content: space-around;">
        <div style="display: flex; ">
          <img class="img-fluid first" src="../img/phone-icon.png" style="padding-right:20px">
                    <span style="font-family: sans-serif;color:white;font-size:1.2rem;position:relative;padding-right:10px;top:7px"><strong>Contact us</strong> <br>(978) 835-0305</span>
        </div>
        <div style="display: flex;">
          <img class="img-fluid first" src="../img/house-icon.png" style="padding-left: 10px;padding-right:20px">
          <span style="font-family: sans-serif;color:white;font-size:1.2rem"><strong>Where are we</strong><br>400 Trade Center, Suite 5900<br>Woburn, MA 01801</span>
        </div>
      </div>
    </h1>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
      <div class="container">
        <a class="navbar-brand text-uppercase text-expanded font-weight-bold d-lg-none" href="#">Sunrise Acupuncture</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav mx-auto">
            <li class="nav-item px-lg-3">
              <a class="nav-link text-uppercase text-expanded" href="../index.html">Home</a>
            </li>
            <li class="nav-item px-lg-3">
              <a class="nav-link text-uppercase text-expanded" href="about.html">About Liên</a>
            </li>
            <li class="nav-item px-lg-3">
              <a class="nav-link text-uppercase text-expanded" href="acupuncture.html">Acupuncture</a>
            </li>
            <li class="nav-item px-lg-3">
              <a class="nav-link text-uppercase text-expanded" href="conditionsTreated.html">Conditions Treated</a>
            </li>
            <li class="nav-item px-lg-3">
              <a class="nav-link text-uppercase text-expanded" href="testimonials.html">Testimonials</a>
            <li class="nav-item active px-lg-3">
              <a class="nav-link text-uppercase text-expanded" href="newPatient.html">New Patient
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item px-lg-3">
              <a class="nav-link text-uppercase text-expanded" href="contact.html">Contact Us</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <section class="page-section cta">
      <section class="page-section clearfix">
        <div class="container">
          <div class="newPatient">
            <div class="left-0 text-center bg-faded p-5 rounded">
              <h2 class="section-heading mb-4">
                <span class="section-heading-lower">For New Patients</span>
              </h2>
              <p class="mb-3">Please download, complete, and bring the online form to our first session
              </p>
              <div class="intro-button mx-auto">
                <a class="btn btn-primary btn-xl" href="../files/acu_healthhistory.doc" download="Sunrise_Acupuncture_acu_healthhistory_form.doc">Download Form</a>
              </div>
            </div>
          </div>
        </div>
      </section>
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <div class="cta-inner text-center rounded">
              <h2 class="section-heading mb-5">
                <span class="section-heading-lower">Frequently Asked Questions</span>
              </h2>
              <p>
                <strong>Do acupuncture needles hurt?</strong><br>
                Usually not. Acupuncture needles are hair-thin and insertion techniques make it painless.
                The acupuncturist will work with you to make sure that your treatment is comfortable.<br><br>
                <strong>Are the needles sterile</strong><br>
                Yes. They are disposed of after one use.<br><br>
                <strong>How should I prepare for a treatment?</strong><br>
                It is a good idea to have something to eat and drink an hour before your treatment.
                Bring or wear comfortable and loose fitting clothing so the area being treated is accessible.<br><br>
                <strong>What will I experience during a treatment?</strong><br>
                Some people don’t feel anything. Others feel sensations of tingling, warmth, heaviness, or a movement of energy along the meridian a point is on.
                These sensations indicate that qi is moving and the body is healing.<br><br>
                <strong>How many treatments will I need?</strong><br>
                Treatment frequency and number of treatments needed depend on a variety of factors including the severity and duration of the condition,
                your constitution, your diet and lifestyle.<br><br>
            </div>
          </div>
        </div>
      </div>
    </section>

    <footer class="footer text-faded text-center py-5">
      <div class="container">
        <p class="m-0 small">Copyright &copy; Sunrise Acupuncture 2018</p>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="../vendor/jquery/jquery.min.js"></script>
    <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>
</html>
